*{
margin: 0;
padding: 0;
}
.box{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.image{
    flex: 6;
    margin: 20;
    
}
.img{
    object-fit: cover;
    border-radius: 20px; 
    width: 80%;
    height: 90%;
    margin:50px 20px 20px 20px; 
}
.details{
    flex: 4;
}
.main{
    font-size: 60px;
    color: rgb(33, 32, 32);
    font-weight: bold;
}
.secondary{
    font-style: 45px;
    color: grey;
    font-weight: 600;
}
.nav{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
   flex-direction: row;
   height: 20vh;
   width: 100vw;
   overflow: hidden;
   overflow-y: hidden;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}

.navitem{
    display: flex;
    list-style: none;
    font-size: 30px;
    color: grey;
    font-weight: 900; 
    justify-content: space-evenly;
    gap: 30px;
}
.navitem:hover{
    cursor: pointer;
}